%h3= @bank.name
= link_to('New Transaction', new_transaction_bank_path, :remote => true, :class => 'button large' )

#form

#inserttable
  =render(:partial => 'datatable')







:javascript
  $(document).ready(function() {
      $('#datatable').dataTable();
  } );
