.row
  .large-6.columns
    %h3
      Bank Name:
      = @bank.name
    = link_to('New Transaction', new_transaction_bank_path, :remote => true, :class => 'button large' )
  .large-6.columns
    #bank_balance
      =render(:partial => 'bank_balance')

  #form

  #inserttable
    =render(:partial => 'datatable')



:javascript
  $(document).ready(function() {
      $('#datatable').dataTable();
  } );
