/ / %script
/ /  var chart = {};

/ / - if @auth.present?
/ /   - @auth.banks.order(:name).each do |bank|
/ /     %script
/ /       = bank.name


/ #donut-example

/ / %script
/ /  = "#{}"

/ %script






