%h1 WELCOME/INDEX

#form

#chart
  = render(:partial => 'chart')
#allbalances
  = render(:partial => 'allbalances')

- if flash[:message].present?
  .row
    .large-12.columns.alert-box.alert
      = flash[:message]





