<<<<<<< HEAD
.row
  .large-8.large-centered.columns
    #totalbalance.center-text
      =render(:partial => 'totalbalance')

=======
>>>>>>> 995618e2ebcf11ed1be263a216bd86d2f15ab7ca
#form

.row
  #chart.large-6.large-centered.columns
    = render(:partial => 'chart')
  #allbalances.large-2.large-centered.columns
    = render(:partial => 'allbalances')
  .large-2.columns



- if flash[:message].present?
  .row
    .large-12.columns.alert-box.alert
      = flash[:message]

