.row
  .large-6.columns
    #form
  .large-7.large-centered.columns
    #totalbalance.center-text
      =render(:partial => 'totalbalance')

#form

.row
  #chart.large-6.large-centered.columns
    = render(:partial => 'chart')
  #allbalances.large-2.large-centered.columns
    = render(:partial => 'allbalances')
  .large-2.columns



- if flash[:message].present?
  .row
    .large-12.columns.alert-box.alert
      = flash[:message]

