.row
  #form
  #totalbalance.large-7.large-centered.columns
    =render(:partial => 'totalbalance')

.row
  #chart.large-6.columns
  #allbalances.large-6.columns
    = render(:partial => 'allbalances')

- if flash[:message].present?
  .row
    .large-12.columns.alert-box.alert
      = flash[:message]

