*{
  letter-spacing: -0.05em;
}

.green{
  color: #2C9454;
}
.red {
  color: red;
}

table {
  width: 400px;
  font-size: 30px;
}

#chart{
  height: 400px;
  width: 400px;
}

.center-text{
  text-align: center;
}

.radio{
  float: right;
  padding-left: 10px;
  font-size: 30px;
}

body {
  background: url('https://dl.dropbox.com/u/5433755/seniors/28_1bingo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}