<!-- <footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <h6 class='subheader'>FOOTER HERE</h6>
      </div>
      <div class="large-6 columns">
      </div>
    </div>
  </div>
<<<<<<< HEAD
</footer> -->
=======
</footer>
 -->
>>>>>>> 995618e2ebcf11ed1be263a216bd86d2f15ab7ca
