<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
      <% if @auth.present? %>
       <li><%= link_to('Add Bank', new_bank_path, :remote => true, :class => 'button large' ) %></li>
       <li><%= link_to('Transfer', transfer_banks_path, :class => 'button large') %>
      <% end %>
       <li><%= link_to('Home', root_path, :class => 'button large') %></li>
       <%== login_nav %>
      </ul>
    </div>
    <h1>$avings for $eniors</h1>
  </div>
</div>